/.HA_VERSION
/.cloud
/.google_maps_location_sharing.cookies.bazenovsemen24_gmail_com
/.shopping_list.json
/.storage
/.yandex_station.json
/.ssh
/pushupdates.sh
/shell_command.yaml
/aircast.xml
/appdaemon
/automations.yaml
/blueprints
/custom_components
/python_scripts
/customize.yaml
/deps
/dev
/esphome
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/image
/includes_private
/known_devices.yaml
/node-red
/rtsp2webrtc_v5_amd64
/secrets.yaml
/themes
/tts
/ui_lovelace_minimalist
/webostv.conf
/www
/zigbee.db
/zigbee2mqtt
/zigbee2mqtt2
/1C Base
/smartctl